.btn{
    background-color: rgb(236, 18, 182);
}

.col-sm-6{
    padding-left: 0%;
    padding-right: 0%;
}
.form{
    padding-top: 10%;
}

.heading{
    text-align: center;
    font-size: x-large;
    padding-bottom: 5%;
}